$color-white: #fff;
$color-black: #000;
$color-gradient:linear-gradient(90deg, #349bc4 0%, #1adf8d 100%, rgba(0,142,227,1) 100%);
$color-box-shadow: rgba(0, 0, 0, 0.15);
$color-bg-and-hover:rgb(250, 250, 250);
$color-logo:rgb(36, 32, 32);
$color-words:#262626;
$color-a:#3bc8f5;
$color-a-hover:#5ad1f8;
$color-bg-botton:#b7db2a;
$color-bg-bottom-hover:#c4df58;